<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\vMonitor.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
      <!-- Recycle/restart sonrası uygulamayı kullanıcı beklemeden ısıt (BackgroundService hemen başlasın) -->
      <applicationInitialization doAppInitAfterRestart="true">
        <add initializationPage="/" />
      </applicationInitialization>
    </system.webServer>
  </location>
</configuration>
